@import "../variables";

.boxMainBlog {
  padding: 50px 0px;
  .max-container {
    padding: 0 20px;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 30px;
  }
  .blocks {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 30px 0;
    .block {
      padding: 20px;
      background-color: $color-2;
      h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        @media screen and (max-width: 560px) {
          font-size: 19px;
          line-height: 1.4;
        }
      }
      .content {
        display: flex;
        gap: 30px;
        margin: 40px 0;
        width: 100%;
        @media screen and (max-width: 700px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .left {
          @media screen and (min-width: 701px) {
            width: 100%;
          }
          .images {
            width: 100%;
            display: flex;
            gap: 10px;
            overflow: auto;
            @media screen and (max-width: 1390px) {
              gap: 15px;
            }
            img {
              max-width: 200px;
              width: 100%;
              max-height: 220px;
              border-radius: 5px;
              aspect-ratio: 2/2.5;
              object-fit: cover;
              @media screen and (max-width: 1390px) {
                max-width: 150px;
              }
            }
          }
        }
        .right {
          width: 100%;
          p {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.4;
            letter-spacing: 0%;
            vertical-align: middle;
          }
          a {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            display: flex;
            justify-content: right;
            color: $color-3;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
          }
        }
      }
    }
  }
}
