@import "../variables";

.boxMainPromotions {
  padding: 50px 20px;
  .items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    .item {
      display: flex;
      gap: 30px;
      align-items: flex-start;
      @media screen and (max-width: 635px) {
        flex-direction: column;
      }
      img {
        max-width: 500px;
        width: 100%;
        border-radius: 5px;
        @media screen and (max-width: 848px) {
          max-width: 300px;
        }
        @media screen and (max-width: 670px) {
          max-width: 250px;
        }
        @media screen and (max-width: 635px) {
          max-width: inherit;
        }
      }
      .right {
        width: 100%;
      }
      .msg {
        padding: 20px;
        background-color: $color-2;
        border-radius: 5px;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        @media screen and (max-width: 848px) {
          font-size: 14px;
        }
      }
      .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        margin-top: 20px;
        letter-spacing: 0%;
        @media screen and (max-width: 848px) {
          font-size: 14px;
        }
      }
    }
  }
}
