@import "../variables";
.boxHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $color-1;
  z-index: 99999;
  .topLine {
    font-family: "Baskervville", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 11%;
    text-align: center;
    background-color: $color-3;
    padding: 10px;
    color: $color-1;
  }
  .categoriesList {
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid $color-3;
    position: absolute;
    z-index: 50;
    left: -500px;
    top: 245px;
    background-color: $color-1;
    justify-content: space-between;
    transition: left 0.15s ease-in-out, opacity 0.15s ease-in-out;
    opacity: 0;
    @media screen and (max-width: 850px) {
      top: 185px;
    }
    &.active {
      left: 8px;
      opacity: 1;
    }
    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      color: $color-3;
      white-space: nowrap;
    }
    .listItem {
      a {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 15px;
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
        margin-bottom: 2px;
        &:hover {
          background-color: $color-2;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-3;
      }
    }
  }
  img.is-1 {
    width: 80%;
    height: min-content;
    @media screen and (max-width: 850px) {
      width: 100%;
      height: auto;
      aspect-ratio: 2/1;
    }
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    .mainContent {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s top ease-in-out, 0.15s opacity ease-in-out;
      gap: 50px;
      width: 100%;
    }
    @media screen and (max-width: 869px) {
      .mainContent {
        width: 100%;
        flex-direction: column;
        position: fixed;
        background: $color-1;
        top: 133px;
        padding: 40px 13px;
        border-top: 1px solid $color-3;
        border-bottom: 1px solid $color-3;
        left: 0;
        right: 0;
        z-index: 10;
        justify-content: start;
        opacity: 1;
      }
      .mainContent:not(.is-active) {
        top: -300px;
        position: fixed;
        opacity: 0;
      }
    }

    @media screen and (min-width: 870px) {
      .toggleBarMenu {
        display: none;
      }
    }
    @media screen and (max-width: 869px) {
      .toggleBarMenu {
        display: inline-flex;
        align-items: center;
        right: 20px;
        position: absolute;
        height: 28px;
        cursor: pointer;
        span {
          background-color: $color-3;
          height: 2px;
          display: block;
          width: 30px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            bottom: 9px;
            width: 30px;
            background-color: $color-3;
          }
          &::before {
            content: "";
            position: absolute;
            display: block;
            bottom: -9px;
            height: 2px;
            width: 30px;
            background-color: $color-3;
          }
        }
      }
    }

    * {
      color: $color-3;
    }
    h1 {
      font-family: "Baskervville", sans-serif;
      font-weight: 400;
      font-size: 42px;
      cursor: pointer;
      line-height: 100%;
      letter-spacing: 20%;
      @media screen and (max-width: 869px) {
        text-align: center;
        width: 100%;
        font-size: 30px;
      }
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      width: 100%;
      input {
        padding: 10px;
        border: 2px solid $color-3;
        outline: none;
        font-size: 14px;
        border-radius: 10px 0 0 10px;
        width: 100%;
        background-color: transparent;
      }
      .search-select {
        background: transparent;
        outline: none;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        appearance: none;
        padding: 11px;
        padding-left: 20px;
        border: 2px solid $color-3;
        border-left: 0;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 15px;
        padding-right: 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        @media screen and (max-width: 470px) {
          padding-left: 10px;
          padding-right: 30px;
        }

        option {
          background-color: $color-1;
        }
      }
      button {
        margin-left: 20px;
        padding: 10px;
        color: $color-1;
        border: none;
        height: 100%;
        height: 40px;
        aspect-ratio: 1/1;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-3;
        @media screen and (max-width: 470px) {
          margin-left: 10px;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        img {
          cursor: pointer;
        }
      }
      .data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        div {
          display: flex;
          gap: 20px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: middle;
          span {
            white-space: nowrap;
          }
        }
      }
    }
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $color-1;
    margin: 0 auto;
    overflow: auto;
    padding: 0 15px;
    width: 100%;
    background-color: $color-3;
    * {
      color: $color-2;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
    }
    .box {
      max-width: 1175px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        white-space: nowrap;
      }
      .left {
        white-space: nowrap;
        display: flex;
        position: relative;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
        &:hover {
          background-color: $color-2;
          * {
            color: $color-3;
          }
          .burger,
          .burger::after,
          .burger::before {
            background-color: $color-3;
          }
        }
        .burger {
          background-color: $color-2;
          height: 2px;
          display: block;
          width: 25px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: 30px;
            bottom: 7px;
            background-color: $color-2;
          }
          &::before {
            content: "";
            position: absolute;
            display: block;
            bottom: -7px;
            height: 2px;
            width: 20px;
            background-color: $color-2;
          }
        }
      }
      .center {
        display: flex;
        justify-content: center;
        @media screen and (min-width: 870px) {
          width: 100%;
        }
        nav {
          display: flex;
          gap: 50px;
          @media screen and (max-width: 869px) {
            gap: 15px;
            padding-left: 20px;
          }
          a {
            padding: 15px;
            transition: background-color 0.15s ease-in-out,
              color 0.15s ease-in-out;
            &:hover {
              background-color: $color-2;
              color: $color-3;
            }
          }
        }
      }
    }
  }
  .box-modal {
    .modal {
      max-width: 400px;
      width: 100%;
      span.is-close {
        width: 100%;
        text-align: right;
        line-height: 0.5;
        display: block;
        font-size: 40px;
        cursor: pointer;
        transition: color 0.15s ease-in-out;
        &:hover {
          color: $color-2;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 400px;
        margin-top: 20px;
        width: 100%;
        a {
          text-align: center;
          color: $color-3;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: middle;
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: 0%;
          text-decoration-skip-ink: auto;
        }
        button {
          padding: 15px 30px;
          width: 100%;
          max-width: 220px;
          margin: 0 auto;
          border-radius: 5px;
          background-color: $color-3;
          border: none;
          outline: none;
          font-size: 17px;
          color: $color-1;
          transition: background-color 0.15s ease-in-out,
            color 0.15s ease-in-out;
          &:hover {
            background-color: $color-2;
            color: $color-3;
          }
        }
        label {
          display: flex;
          flex-direction: column;
          gap: 5px;
          max-width: 400px;
          width: 100%;
          span {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 17px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
          }
          input {
            padding: 13px;
            border-radius: 5px;
            background-color: $color-2;
            border: none;
            outline: none;
            font-size: 17px;
            color: $color-3;
          }
        }
      }
      .is-error {
        color: red;
        text-align: center;
        margin: 5px 0;
        background-color: #ffcece;
        padding: 13px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 17px;
      }
    }
  }
}
