@import "./variables";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  background-color: $color-1;
  color: $color-3;
}

a,
button {
  cursor: pointer;
}

.max-container {
  max-width: 1175px;
  margin: 0 auto;
  width: 100%;
}

main {
  margin-top: 170px;
  @media screen and (min-width: 870px) {
    margin-top: 200px;
  }
}

.is-cursorPointer {
  cursor: pointer !important;
}

nav.is-kroshki {
  display: flex;
  word-break: break-all;
  flex-wrap: wrap;
  gap: 5px;
  a {
    color: $color-3;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0%;
    text-decoration: none;
    vertical-align: middle;
    &:not(:first-child)::before {
      color: $color-3;
      content: "/";
      padding-right: 5px;
    }
    &.is-end {
      cursor: default;
    }
  }
}

.is-none {
  display: none !important;
}
